#santacloud {
	display: flex;
	justify-content: center;
	margin: 16px;
}

#santacloudwait {
	width: 80%;
	height: 80%;
	text-align: center;
	background-color: var(--color-main-background);
	border-radius: 20px;
	color: var(--color-main-text);
	justify-content: center;
	margin: 50px;
}
